.container{
    margin: auto;
    width: 1200px;
    height: 2500px;
}
body{
   background-image: url('img/CieloDia.png');
   background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

img{
    width: 100px;
    height: 150px;
}

h1{
    
   text-align: center;
    width: 500px;
    height: 100px;
    position: absolute;
   top: -10px;
}

.name{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

label, input{
    font-size: 20px;
    margin-right: 10px;
    width: 200px;
    height: 20px;
    text-align: center;
}

#btnNext{
    position: relative;
    left: 450px;
    top: 200px;
    width: 80px;
    height: 50px;
    
}

.filaMascotas{
    height: 500px;
    width: 800px;
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 columnas para los botones */
  grid-template-rows: 1, auto;
  gap: 100px; /* separación entre botones */
  justify-content: center; /* centra la fila */
  align-items: center;
}


.boton:hover {
  background-color: #2980b9;
  transform: scale(1.05); /* Lo agranda un poquito */
  cursor: pointer;        /* Cambia el cursor a una manito */
}

fieldset{
    border: solid 5px;
    position: relative;
    align-items: center;

}


.nubes img{
    width: 400px;
    height: 400px;
}


/* Nube 1: empieza más arriba y sin demora */
.nube1 {
  animation: moverNube 120s linear infinite; /*Hace que se mueva la nube.*/
  position: absolute;
  top: 500px;                 /* Altura desde arriba, lo aleja de arriba, lo baja */ 
  left: -200px;             /* Empieza fuera de la pantalla a la izquierda */
  animation-delay: 0s;      /* Empieza la animación de inmediato */
}

/* Nube 2: empieza más abajo y con delay */
.nube2 {
  animation: moverNube 120s linear infinite; /*Hace que se mueva la nube.*/
  top: 800px;
  position: absolute;
  left: -300px;
  animation-delay: 20s;     /* Empieza 20 segundos después que la nube1 */
}

.nube3{
  animation: moverNube 120s linear infinite; /*Hace que se mueva la nube.*/
  top: 40%;
  left: -500px;
  animation-delay: 15s;     /* Empieza 20 segundos después que la nube1 */
}

/* Animación definida por nombre moverNube */
@keyframes moverNube {
  0% {
    transform: translateX(0);         /* Empieza desde la posición actual */
  }
  100% {
    transform: translateX(120vw);     /* Se mueve hacia la derecha saliendo de la pantalla */
  }
}